$theme-colors: (
  "c1": (
    "base": #d36135
  ),
  "c2": (
    "base": #ece4b7
  ),
  "c3": (
    "base": #f5f7dc
  ),
  "c4": (
    "base": #4c4c47
  ),
  "c5": (
    "base": #6b717e
  ),
  "foreground": (
    "base": #393939,
    "light": #6e6e6e,
    "dark": #111
  ),
  "background": (
    "base": #fbfbf2,
    "light": #fff,
    "dark": #f8f9e8
  )
);

@function theme-color($key: "primary", $variant: "base") {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}

$font-colors: (
  "primary": (
    "base": #ffffff,
    "light": #d3d3d3,
    "dark": #d3d3d3
  ),
  "accent": (
    "base": #383838ab,
    "light": #383838ab,
    "dark": #383838ab
  ),
  "foreground": (
    "base": #a7a7a7,
    "light": #a7a7a7,
    "dark": #a7a7a7
  ),
  "background": (
    "base": #707070,
    "light": #707070,
    "dark": #707070
  )
);

@function font-color($key: "primary", $variant: "base") {
  $map: map-get($font-colors, $key);
  @return map-get($map, $variant);
}

@mixin apply-font-color($key: "primary", $variant: "base") {
  color: font-color($key, $variant);
}
