$font-primary: "Assistant", sans-serif;
$font-secondary: "Roboto Slab", serif;

/* set base values */
$text-base-size: 1em;
$text-scale-ratio: 1;

@mixin define-typography() {
  font-size: $text-base-size * $text-scale-ratio;
  font-family: $font-primary;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
