$font-primary: "Assistant", sans-serif;
$font-secondary: "Roboto Slab", serif;

/* set base values */
$text-base-size: 1em;
$text-scale-ratio: 1;

@mixin define-typography() {
  font-size: $text-base-size * $text-scale-ratio;
  font-family: $font-primary;

  h1 {
    margin-top: 12px;
    margin-bottom: 0px;
  }
}
