@import "@styles/mixins";
@import "@styles/theme";

.root {
  height: 60px;
  background-color: theme-color("c1");
}

.linkGroup {
  @include flex-container(row);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
}

.link {
  font-size: 32px;
  text-decoration: none;
  color: theme-color("c2");
  &:hover {
    color: theme-color("c2", "light");
  }
  &:active {
    color: theme-color("c2", "dark");
  }
}