@import "@styles/mixins";
@import "@styles/spacing";
@import "@styles/theme";

.root {
  @include apply-font-color("primary");
  @include padding("lv2");
  min-height: 48px;
  background-color: theme-color("primary");
}

.content {
  @include breakpoint(sm) {
    @include mx-auto();
  }
  @include flex-container(row);
  max-width: 1080px;
  justify-content: space-between;
  align-items: center;
}

.links {
  @include flex-container(row);
  width: 400px;
  justify-content: space-around;
}
